.empty-page-content{
        top: 300px;
        max-width: 1024px;
        margin: 0 auto;
        position: relative;
}
.empty-page-root{
        transition: left 0.5s ease-in-out;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 3;
        background-color: rgb(246, 248, 253);
        text-align:center;
}
.empty-page-root .empty-root-img{
        max-width:180px;
        height: auto;
        margin: 20px 0px;
}
@media screen and (max-width: 780px){

}
.empty-page-root p{
        color: rgb(84, 90, 119);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        text-align: center;
        vertical-align: initial;
        font-style: initial;
        white-space: initial;
        text-decoration: initial;
        margin: 20px 0px;
        padding: 0px;
}
.empty-page-root button{
        margin: 0 12px;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        background-color: rgb(224, 68, 109);
        border-radius: 160px;
        margin: 0px;
        border-color: rgba(0, 0, 0, 0);
        border-width: 2px;
        border-style: solid;
        padding: 8px 16px;
}




