.TaskContainer--judgeIfEndOfLease{

    background: rgb(231, 235, 251);
    display: inline-block;
    margin-bottom: 16px;
    background: rgb(231, 235, 251);
    border-radius: 8px;
    padding: 4px 24px 4px 16px;
    font-weight: 300;
    color: #545a77;
    background-color: #f6f8fd;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 14px;
    line-height: 1.4;
    width:230px;
    height:36px;
    margin: 24px 0px 16px;
    background-color: rgba(192, 189, 189, 0.6);
}

.TaskContainer--judgeIfEndOfLease>p{
    margin-top:10px;
    display:inline-block;
    line-height:35px;
    margin:0;
}

#endOflease{
    width: 200px;
    font-size: 13px;
}
.TaskContainer--judgeIfEndOfLease::after{
        content:"";
        display:block;
        clear:both;
}

.TaskContainter__checkBox{
    float:left;
    width:14px;
    height:14px;
    border-color: rgb(84, 90, 119);
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    margin: 7px 8px 0 0 ;
    line-height:35px;
    background-color:white;
    position:relative;
    z-index: 1001;
}

.checkOthers__ifNeedOthers svg{

    color: rgb(0, 143, 180);
    font-size: 12px; 
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1000;

}

.TaskContainter__checkBox:hover{

    border-color:rgb(0, 143, 180);
}


.TaskContainer--otherService{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: auto;
    padding-left: 0px;
    position: relative;
}

.TaskContainer__ovenCover{

    position: absolute;
    width: 600px;
    height: 90px; 
    top: 0px;
    z-index: 1009;
    opacity: 0.7;
    background-color: white;
}

.list--otherService{
    list-style: none;

}
.checkBox-wrapper{
    background-color: rgba(192, 189, 189, 0.6);
}

.list--otherService > div{

    width:120px;
    height:72px;
    padding:8px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    /* padding: 8px; */
    outline: none;
    border-color: rgb(187, 194, 220);
    border-width: 1px;
    border-style: solid;
    z-index: 1002;
   
    
}

.list--otherService p{
    text-align: center;
    margin:0;
    margin-top:10%;
    width:max-content;
    margin:auto;
}

.list--checkIcon{
    color: rgb(0, 143, 180);
    font-size: 12px; 
    position: absolute;
    top: 1px;
    left: 1px; 
}

.list--otherIcon{

    color: black;
    font-size: 30px;
    margin-top: 14px;
}

.oven--block, .cabinets--block, .windows--block, .carpets--block{

    background-color: rgb(0, 143, 180);
    color: white;
    z-index: 1003;
}



@media (max-width: 400px){
    .list{
        transform:scale(0.8);
    }

    .list--otherService > div {
        margin-right: 0;
        margin-bottom: 0;
    }
}