/* .icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  } */
body {
    font-family: museo_sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 300;
    color: #545a77;
    /* background-color: #f6f8fd; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 14px;
    line-height: 1.4;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex__justSpace {
    justify-content: space-around;
}

.flex__column {
    flex-direction: column;
    /* flex-wrap: nowrap; */
}

.flex__row {
    flex-direction: row;
    /* flex-wrap: nowrap; */
}

.blod {
    font-weight: 700;
}

.small-title {
    font-size: 13px;
    letter-spacing: .4px;
    text-transform: uppercase;
    word-break: normal;
    width: 80%;
}

.ContentHeader {
    justify-content: center;
    flex-direction: row;
    left: 0;
    right: 0;
}

.ContentHeader h1 {
    margin-top: -0.1rem;
    font-size: 3rem;
}

.PostBy ul {
    position: relative;
    margin-top: -2rem;
}

.transform3d {
    transform: translate3d(0px, 0px, 0px);
}

.PostBy a {
    text-decoration: none;
}

.Location {
    position: relative;
}

.Location ul {
    position: relative;
}

.Location li:first-child p {
    box-sizing: border-box;
    border-top: 1px solid #f6f8fd;
    padding-top: 20px;
}

.Time {
    display: inline-block;
    position: absolute;
    right: 10rem;
    bottom: 5px;
}

.viewmap {
    text-decoration: none;
}

.fontawesome {
    position: absolute;
    left: 2.5rem;
    padding-top: 25px;
}

/* .Location ul::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 1200;
    content: "";
} */

.DueDate {
    position: relative;
}

.DueDate ul {
    position: relative;
}

.DueDate li:first-child p {
    box-sizing: border-box;
    border-top: 1px solid #f6f8fd;
    padding-top: 20px;
}

.userDetail {
    margin-top: 2rem;
}

.userDetail ul {
    list-style-type: none;
    left: 6rem;
}

#user--icon--post {
    position: absolute;
    bottom: -3rem;
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
    margin-left: 1.7rem;
    margin-top: -10rem;
    border-radius: 50%;
    border: 1px solid #bbc2dc;
    overflow: hidden;
}

.Price {
    /* border: 1px solid black;
    border-radius: 15px; */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(187, 194, 220);
    border-image: initial;
    border-radius: 6px;
}

.Price h2 {
    text-align: center;
    line-height: 26px;
    color: rgb(84, 90, 119);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding: 4px;
}

.Price p {
    border-bottom: 1px solid rgb(246, 248, 253);
    border-top: 1px solid rgb(246, 248, 253);
    padding: 0.7rem 0;
    margin: 0px;
    line-height: 26px;
    color: rgb(84, 90, 119);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
}

#price {
    font-size: 28px;
    text-align: center;
}

/* .Price h2::after{
    content: '';
    position: absolute;
    background: rgb(246, 248, 253);
    top: 3rem;
    left: 0.05rem;
    width: 100%;
    height: 0.05rem;
} */

.Price h2:last-child {
    display: inline-block;
    border: 1px solid black;
    color: lightgray;
    font-size: 180%;
    border-radius: 50px;
    /* padding-right: -2rem; */
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    /* margin-bottom: 2rem; */
    bottom: 0.5rem;
    padding: 1rem 1.5rem 1rem;
    background-color: grey;
}

/* .Price h2:last-child::before{
    content: '';
    position: absolute;
    background: rgb(246, 248, 253);
    top: -1rem;
    left: 0rem;
    width: 100%;
    height: 0.1rem;
} */

.status-btn {
    text-align: center;
    padding: 8px;
}

.status-btn button {
    width: 100%;
    background-color: #dadada;
    border: 2px solid rgba(41, 43, 50, .1);
    border-radius: 200px;
    padding: 8px 16px;
    font-size: 16px;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 24px;
}

.details-panel {
    max-width: 50%;
    flex: 1 1 auto;
}

.ContentSideBar {
    margin-top: 10rem;
    left: 0;
    right: 0;
    max-width: 25%;
    border-radius: 4px;
    overflow: auto;
    background-color: #fff;
    flex: 1 1 0;
}

.Options {
    position: relative;
    margin-top: 20px;
    border-radius: 15px;
    letter-spacing: normal;
    height: 44px;
    font-size: 13px;
    background-color: hsla(0, 0%, 100%, .6);
    border: 1px solid #bbc2dc;
    box-sizing: border-box;
    border-radius: 4px;
    color: #292b32;
    cursor: pointer;
    display: block;
    font-weight: 500;
    transition: background .5s linear, color .5s linear, border .5s linear;
    width: 100%;
    text-align: left;

}

.Options p {
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
}

.Options .collapse-btn-style {
    float: right;
}

.Options svg {
    vertical-align: middle;
    padding: 13px 10px;
}

.task-title {
    height: auto;
    font-weight: 300;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #292b32;
    margin-bottom: 0px;
}

.Details {
    overflow-y: hidden;
    transition: max-height 0.3s ease-out 0s;
}

.description-section {
    width: 70%;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .4px;
    margin-left: 15%;
}

.description-section h2 {
    text-transform: uppercase;
}

.description-section p {
    margin: 10px 0px 12px;
}

.collapse-btn {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 143, 180);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin: 10px 0px;
    padding: 0px;
    border: none;
    border-image-source: none;
    box-sizing: border-box;
}

.collapse-btn-style {
    display: inline-block;
    fill: rgb(0, 143, 180);
    transform: rotate(0deg);
}

.collapse-btn-style > svg {
    vertical-align: middle;
    width: 20px;
    height: 14px;
    overflow: hidden;
}

.Attachment {
    margin: 20px 0px;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}

.Attachment input {
    width: 100%;
    padding: 11px 0 !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.componentUnVisible {
    display: none;
}

.Attachment button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    width: 100%;
    background-color: rgb(246, 248, 253);
    color: rgb(0, 143, 180);
    border-radius: 160px;
    margin: 0px;
    border-width: 2px;
    border-style: solid;
    padding: 4px 16px;
    border-color: rgb(231, 235, 251);
}

#details__content--collapse {
    overflow-y: hidden;
    position: relative;
}

#details__content--spread {
    /* max-height: 330px; */
    overflow-y: hidden;
    position: relative;
    /* border: 1px solid black; */
    transition: all .5s ease-in-out;
}


.task_details__content--spread::after, #details__content--collapse::after {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: "";
    display: block;
    opacity: 1;
    height: 30px;
    transition: opacity 0.3s ease-out 0s;
    background:linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)) !important;
}


#details__content--spread::after, #details__content--collapse::after {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: "";
    display: block;
    opacity: 1;
    height: 30px;
    transition: opacity 0.3s ease-out 0s;
    background:  linear-gradient(rgba(255, 255, 255, 0), rgb(246, 248, 253));
}

.details__content {
    transition: all 0.5s ease-out;
}


.offers {
    margin: 0 15%;
}

.modal--offer, .modal--accept {
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
}

.container--task {
    max-width: 100%;
    margin: auto;
}

.container--task .Price .status-btn button {
    /*position: relative;
    overflow: hidden;*/
}

.container--task .Price .status-btn button::after {
    transform: rotate(25deg);
    top: -100%;
    left: -200px;
    transition: .75s ease;
    content: "";
    position: absolute;
    background: #008FB4;
    width: 150px;
    padding-top: 150px;
}

.status-btn button {
    transition: all .25s ease-in-out;
}

.container--task .Price .status-btn button:hover:after {
    left: 700px;
}

.offer .status-btn button:hover {
    background: rgb(138, 208, 63) !important;
}


.modal--offer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    background-color: #F5F5F5;
}

.modal--offer::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.modal--offer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #008FB4;
}

.Attachment--section {
    width: 100px;
    margin: 50px 15%;
    display: flex;
}

.attachment--img {
    width: 100px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

/* *************************** */
@media screen and (max-width: 1260px) {

    .ContentHeader {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .Time {
        right: 5em;
    }

    .details-panel {
        width: 100%;
        max-width: 95%;
    }

    .ContentSideBar {
        width: 100%;
        max-width: 100%;
        top: 1rem;
        left: 3rem;
    }

    .description-section {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .Details {
        width: 100%;
    }

    .offers-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }

    .offers-container--unAuth {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 2rem;
    }

    .offers {
        margin: 0 2px 0 0rem;

    }

}



