.view-tasks-page{
        margin:0 auto;
        /* top: 57px; */
        position: relative;
        max-width: 1024px;
        box-sizing: border-box;
}
.view-tasks-page .view-tasks{
        overflow:hidden;
        max-width: 1024px;
        display: flex;
        flex-direction: row;
        height: calc(100vh - 106px);
}
.open-tasks{
        width: 364px;
        height:auto;
}

.click-view-page{
        width: 660px;
        height: auto;
}

.click-view-page img{
        width: 100%;
        height: 100%;
}

#page-and-screen-content{
        background-color: #F5F8FD;
        margin-top: 57px;
}

#gmap_canvas{
        height: 100%;
        width: 660px;
}

.marker {
        background-image: url('https://via.placeholder.com/55x77');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
}
