.flex{
    display: flex;
}

.flex__row{
    flex-direction: row;
}

.Question__Container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    left:15%;
    right: 15%;
    max-height: 253px;
    padding: 10px 0px;
    transition: max-height 0.3s ease-out 0s;
}

.Question__Container h2{
    margin: 5px 0;
    color: rgb(41, 43, 50);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 20px;
}

.Question__Container p{
    margin: 10px 0;
    color: rgb(41, 43, 50);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 20px;
}

.comments__form{
    margin-bottom: 28px;
}

.add-comm-form .avatar-img{
    display: inline-block;
    margin-right: 10px;
    width: 42px;
    height: 42px;
}

.text-area{
    box-sizing: border-box;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    vertical-align: top;
    width: 90%;
    padding: 8px 8px 40px;
    /* box-shadow: inset 0 1px 2px 0 hsla(0,0%,75.3%,.5); */
    transition: box-shadow .2s ease,-webkit-box-shadow .2s ease;
    border: 1px solid #bbc2dc;
    border-radius: 4px;
    cursor: text;
    overflow: hidden;
}

.text-area textarea{
    resize: none;
    height: 90px; 
    border: none;
    width: 100%;
    overflow-y: hidden;
    box-shadow: none;
}

.text-area textarea:focus{
    outline: none;
}

.text__comm-footer{
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 7px;
    border-radius: 3px;
    padding: 0 8px;
    height: 35px;
    max-height: 35px;
}

.comment--attachment{
    position: relative;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    left: 10px;
}

.comment--btn{
    float: right;
    font-size: 18px;
    font-weight: 500;
    color: #545a77;
    margin: 10px 10px 0;
    background: transparent;
}

.text__comm-footer p{
    display: inline-block;
}

/***********************************/

@media screen and (max-width: 1260px){

.Question__Container{
    width: 90%;
    left: 5%;
    right: 5%;
}

}