.menu-flyout {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    background: #fff;
    width: 345px;
    -webkit-box-shadow: 0 5px 6px rgba(42, 44, 45, .2);
    box-shadow: 0 5px 6px rgba(42, 44, 45, .2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: fadeInFromBelow .15s ease-out;
    animation: fadeInFromBelow .15s ease-out;
    border: 1px solid #bbc2dc;
    border-radius: 4px;
}

#typeMenu{
    z-index: 10;
}

.menu-flyout:before {
    border-color: transparent transparent #bbc2dc;
    border-width: 9px;
    margin-left: -9px;
}

.menu-flyout:after, .menu-flyout:before {
    bottom: 100%;
    left: 24px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.menu-flyout__confirm, .menu-flyout__inner--padded {
    padding: 16px;
}

.menu-flyout__title:first-child {
    margin-top: 8px;
}

.menu-flyout__title {
    margin: 24px 0 16px;
    text-transform: uppercase;
    font-size: 11px;
    color: #545a77;
    letter-spacing: .8px;
    line-height: 16px;
}

.menu-flyout__cancel, .menu-flyout__title {
    color: #545a77;
    font-weight: 700;
}

.menu-flyout__text {
    font-size: 14px;
    font-weight: 500;
    color: #292b32;
    display: inline-block;
    margin-right: 12px;
    white-space: normal;
    line-height: 1.4;
    text-transform:none;
}

.toggle {
    position: relative;
    width: 52px;
    height: 28px;
    border-radius: 14px;
    display: inline-block;
    vertical-align: middle;
    margin: 8px;
    pointer-events: all;
    cursor: pointer;
    background-color: #bbc2dc;
    -webkit-transition: background-color .1 ease-out;
    -o-transition: background-color .1 ease-out;
    transition: background-color .1 ease-out;
}

input[type=checkbox] {
    display: none;
}

.toggle__thumb {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 2px;
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: -webkit-transform .1s ease-out;
    -o-transition: transform .1s ease-out;
    transition: transform .1s ease-out;
    transition: transform .1s ease-out, -webkit-transform .1s ease-out;
    left: 2px;
    pointer-events: none;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

.menu-flyout__confirm {
    border-top: 1px solid #f6f8fd;
}

.menu-flyout__confirm, .menu-flyout__inner--padded {
    padding: 16px;
}

.menu-flyout__cancel, .menu-flyout__title {
    color: #545a77;
    font-weight: 700;
}

.menu-flyout__cancel {
    background: transparent;
    border: 0;
    height: 38px;
    opacity: 1;
    -webkit-transition: opacity .1s ease;
    -o-transition: opacity .1s ease;
    transition: opacity .1s ease;
    outline: none;
    font-size: 14px;
    letter-spacing: .4px;
}

.menu-flyout__apply, .menu-flyout__cancel {
    cursor: pointer;
    margin: 0;
}

button {
    border: none;
    border-image-source: none;
    border-image-slice: none;
    border-image-width: none;
    border-image-outset: none;
    border-image-repeat: none;
    font-family: museo_sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button-cta:last-of-type, .button-success:last-of-type {
    margin-right: 0;
}

.menu-flyout__apply {
    width: 112px;
    float: right;
}

.menu-flyout__apply, .menu-flyout__cancel {
    cursor: pointer;
    margin: 0;
}

.button-sml {
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 20px;
    padding: 6px 16px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}

.button-cta, .button-success {
    line-height: 1.4;
    border-radius: 200px;
    display: inline-block;
    letter-spacing: .05em;
    -webkit-transition: text-shadow .35s cubic-bezier(.615, .19, .305, .91), border .35s cubic-bezier(.615, .19, .305, .91);
    -o-transition: text-shadow .35s cubic-bezier(.615, .19, .305, .91), border .35s cubic-bezier(.615, .19, .305, .91);
    transition: text-shadow .35s cubic-bezier(.615, .19, .305, .91), border .35s cubic-bezier(.615, .19, .305, .91);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid rgba(41, 43, 50, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #7db343;
}

.menu-flyout:after {
    border-color: transparent transparent #fff;
    border-width: 8px;
    margin-left: -8px;
}

.toggle--on {
    background-color: #7db343;
}

.toggle__thumb--on {
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
}