.container-create-request{
        display: flex;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        overflow: auto;
        overflow-x: hidden;
        flex-direction: column;
        position: relative;
}
.create-request-modal{
        list-style-type: none;
        color: rgb(41, 43, 50);
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden auto;
        padding: 10px 20px;
        flex-grow: 1;
        flex-shrink: 0;
}
.create-request-form-field{
        flex-shrink: 0;
        margin: 0px;
        padding: 0px 0px 24px;
}
.create-request-label{
        display: block;
        color: rgb(41, 43, 50);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        max-width: 100%;
        padding: 0px 0px 4px;
}
.create-request-box{
        list-style-type: none;
        padding-inline-start: 0;
        display:flex;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        align-content: unset;
        -webkit-box-align: center;
        align-self: unset;
        flex: 0 1 auto;
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        border-width: 0px;
        border-color: rgb(41, 43, 50);
}
.create-request-box-sub{
        list-style-type: none;
        box-sizing: border-box;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: unset;
    -webkit-box-align: center;
    align-items: center;
    align-self: unset;
    flex: 1 1 0%;
    margin: 0px 8px 0px 0px;
    padding: 0px;
    border-radius: 0px;
    border-width: 0px;
    border-color: rgb(41, 43, 50);
}
.create-request-option{
        background-color: rgb(246, 248, 253);
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;position: relative;
    user-select: none;
    color: rgb(41, 43, 50);
    cursor: pointer;
    display:flex;
    flex-direction: row;
}
.input-option-wrapper{
        min-height: 0;
        -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    max-width: 16px;
    margin-right: 8px;
    flex-shrink: 0;
    cursor: pointer;
    border-color: rgb(84, 90, 119);
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    padding: 1px;
    max-height:16px;
    transition: box-shadow 0.2s ease 0s;
}
.create-request-text-person{
        color: rgb(41, 43, 50);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: initial;
    vertical-align: initial;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 0px;
    padding: 0px;
}
.create-request-form-field .create-request-label{
        min-height: 40px;
}
.create-request-option-content{
        -webkit-font-smoothing: antialiased;
    color: rgb(84, 90, 119);
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 8px;
}
.create-request-calendar-wrapper{
        width: auto;
        display: block;
        left: 0;
        right: 0;
        padding-left: 0;
        border: 1px solid #bbc2dc;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        border-radius: 4px;height: 40px;
        line-height: 40px;
        position: relative;
        background-color: #fff;
}
.create-request-calendar-icon{
        border-right: 1px solid #f0f2f3;
        padding-right: 8px;
        position: absolute;
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
}
.create-request-time-input{
        width: auto;
        display: block;
        position: absolute;
        vertical-align: middle;
        height: 40px;
        left: 0;
        right: 0;
        padding-left: 40px;
        text-align: center;
}
.react-datepicker-wrapper{
        width: 100%;
}
input{
        padding: 0 0;
        width: 100%;
}
.create-request-form-button-field{
        display: flex;
        justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    min-height: 60px;
    padding: 0px 20px;
    border-top: 1px solid rgb(246, 248, 253);
}

.input-option-active{
        min-height: 0;
        -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(0, 143, 180);
    max-width: 16px;
    margin-right: 8px;
    flex-shrink: 0;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    padding: 1px;
    max-height:16px;
    transition: box-shadow 0.2s ease 0s;
        border-color: rgb(0, 143, 180);
}