.option--list{
    list-style: none;
}

.option--item--edit{
    position: absolute;
    letter-spacing: normal;
    height: 44px;
    left: 0;
    top: 3.2rem;
    line-height: 44px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #bbc2dc;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    color: #292b32;
    cursor: pointer;
    display: block;
    font-weight: 500;
    transition: background .5s linear,color .5s linear,border .5s linear;
    width: 100%;
    text-align: left;
    z-index: 499;
}

.option--item--edit p,
.option--item--post p,
.option--item--alerts p,
.option--item--cancel p,
.option--item--post--collapse p,
.option--item--alters--collapse p{
    padding: 0 15px;
}

.option--item--edit::after{
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-right: 1px solid #bbc2dc;
    border-bottom: 1px solid #bbc2dc;
    transform: rotate(-135deg);
    right: 0.89rem;
    top: -0.32rem;
}

.option--item--post{
    position: absolute;
    letter-spacing: normal;
    height: 44px;
    left: 0;
    top: 6rem;
    line-height: 44px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #bbc2dc;
    border-top: 0px;
    border-bottom: 0px;
    box-sizing: border-box;
    color: #292b32;
    cursor: pointer;
    display: block;
    font-weight: 500;
    transition: background .5s linear,color .5s linear,border .5s linear;
    width: 100%;
    text-align: left;
    z-index: 499;
}

.option--item--alerts{
    position: absolute;
    letter-spacing: normal;
    height: 44px;
    left: 0;
    top: 8.7rem;
    line-height: 44px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #bbc2dc;
    box-sizing: border-box;
    color: #292b32;
    cursor: pointer;
    display: block;
    font-weight: 500;
    transition: background .5s linear,color .5s linear,border .5s linear;
    width: 100%;
    text-align: left;
    z-index: 499;
}

.option--item--cancel{
    position: absolute;
    letter-spacing: normal;
    height: 44px;
    left: 0;
    top: 11.5rem;
    line-height: 44px;
    border-radius: 0 0 4px 4px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #bbc2dc;
    border-top: 0px;
    box-sizing: border-box;
    color: #292b32;
    cursor: pointer;
    display: block;
    font-weight: 500;
    transition: background .5s linear,color .5s linear,border .5s linear;
    width: 100%;
    text-align: left;
    z-index: 499;
}

.option--item--post--collapse{
    position: absolute;
    letter-spacing: normal;
    height: 44px;
    left: 0;
    top: 3.2rem;
    line-height: 44px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #bbc2dc;
    box-sizing: border-box;
    color: #292b32;
    cursor: pointer;
    display: block;
    font-weight: 500;
    transition: background .5s linear,color .5s linear,border .5s linear;
    width: 100%;
    text-align: left;
    z-index: 499;
}

.option--item--alters--collapse{
    position: absolute;
    letter-spacing: normal;
    height: 44px;
    left: 0;
    top: 6rem;
    line-height: 44px;
    border-radius: 0 0 4px 4px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #bbc2dc;
    border-top: 0px;
    box-sizing: border-box;
    color: #292b32;
    cursor: pointer;
    display: block;
    font-weight: 500;
    transition: background .5s linear,color .5s linear,border .5s linear;
    width: 100%;
    text-align: left;
    z-index: 499;
}

.option--item--post--collapse::after{
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-right: 1px solid #bbc2dc;
    border-bottom: 1px solid #bbc2dc;
    transform: rotate(-135deg);
    right: 0.89rem;
    top: -0.32rem;
}