.splitter-section-badges{
        position: relative;
        width: 25%;
        vertical-align: top;
}
.splitter-badges-name{
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .08em;
        margin: 0;
        padding: 15px 50px;
        padding-bottom: 5px;
        height: auto;
        font-size: 12px;
}
.splitter-section-content{
        position: static;
        margin: 0 20px;
        padding-bottom: 15px;
}
.badge-group > li{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
}
.badge-group{
        margin-bottom: 35px;
        list-style-type: none;
}
.badge-label{
        font-style: italic;
        font-size: 11px;
        margin-bottom: 10px;
        text-transform: uppercase;
}
.badge-item{
        margin-bottom: 10px;
        position: relative;
}
.badge-item > img{
        width: 38px;
        height: 38px;
}
.badge-item-block{
        max-width: calc(100% - 55px);
        word-wrap: break-word;
        vertical-align: middle;
}
.badge-button-min{
        font-size: 14px;
        letter-spacing: .25px;
        line-height: 20px;
        padding: 6px 16px;
        text-shadow: 0 1px 2px rgba(0,0,0,.25);
        border-radius: 200px;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        border: 2px solid rgba(41,43,50,.1);
        box-sizing: border-box;
        margin: 0;
        transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91),background-color .35s cubic-bezier(.615,.19,.305,.91);
        background-color: #f6f8fd;
        color: #008fb4;
        text-shadow: none!important;
}
.badge-group > p{
        font-size: 14px;
        font-family: museo_sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
        font-weight: 300;
        color: #545a77;
}
.user-part-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
}