.StripeCheckout{
    width: 45%;
    border-radius: 200px!important;
    padding: 8px 16px!important;
}
.StripeCheckout span{
    border:none;
    background-image:none!important;
    box-shadow:none!important;
}