.terms{
    margin-top:56px;
}
.terms-screen{
    position: relative;
    background: #fff;
    width: 100%;
}

.terms__content{
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}
.terms h1{
    font-size: 32px;
    margin:0;
    padding: 0;
    line-height: 1.2;
}
.terms h2{
    font-size: 24px;
    font-weight: 500;
    margin:0;
    padding: 0;
    line-height: 1.2;
}
.terms h3{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 500;
}
.terms h4{}
.terms h5{}
.terms h6{}
.terms p{
    line-height: 1.5;
    margin: 8px 0;
}
.terms a{
    color:#008fb4;
}