.container-create-request{
        display: flex;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        overflow: auto;
        overflow-x: hidden;
        flex-direction: column;
        position: relative;
}
.create-request-header{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-shrink: 0;
        min-height: 30px;
        position: relative;
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0px 16px;
        overflow: hidden;
        margin: 10px;
}
.create-request-modal{
        color: rgb(41, 43, 50);
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden auto;
        padding: 10px 20px;
        flex-grow: 1;
        flex-shrink: 0;
}
.create-request-form-field{
        flex-shrink: 0;
        margin: 0px;
        padding: 0px 0px 24px;
}
.create-request-label{
        display: block;
        color: rgb(41, 43, 50);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        max-width: 100%;
        padding: 0px 0px 4px;
}
.create-request-label-text{
        display: block;
        max-width: 100%;
        color: rgb(84, 90, 119);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        padding: 0px 0px 8px;
}
.create-request-input-text{
        position: relative;
        box-shadow: none;
        box-sizing: border-box;
        -webkit-appearance: none;
        width: 100%;
        color: rgb(41, 43, 50);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        min-height: 40px;
        animation: 0s ease 0s 1 normal none running none;
        outline: none;
        padding: 12px;
        border-radius: 4px;
}
.create-request-input-textarea{
        position: relative;
        width: 100%;
        display: flex;
        -webkit-box-flex: 0;
        flex: 0 1 auto;
        box-shadow: none;
        box-sizing: border-box;
        -webkit-appearance: none;
        width: 100%;
        color: rgb(41, 43, 50);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        letter-spacing: 0.25px;
        min-height: 40px;
        -webkit-box-flex: 0;
        line-height: 24px;
        resize: vertical;
        animation: 0s ease 0s 1 normal none running none;
        outline: none;
        padding: 12px;
        border-radius: 4px;
        flex: 0 1 auto;
}
.create-request-input-textarea:enabled{
        border-color: rgb(187, 194, 220);
        border-width: 1px;
}
.gGVmpI {
        position: absolute;
        top: 57px;
        left: 0px;
        height: 3px;
        width: 100%;
        overflow: hidden;
        background: rgb(246, 248, 253);
    }
    .gGVmpI::after {
        display: block;
        content: " ";
        height: 3px;
        width: 100%;
        transform: translateX(-66.6667%);
        background: rgb(125, 179, 67);
        transition: all 0.8s ease 0s;
    }