.home-thing-bg{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    background: white;
    overflow: hidden;
}

.home-thing-content{
    width: 50%;
}

.thing{
    width: 75%;
    margin: 75px auto;
}

.home-thing-bg-device-wrapper{
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    margin: 0px auto;
    border-radius: 250px;
    background-color: rgb(255,255,255);
    overflow: hidden;
    transform: matrix(0, 0, 0, 0, 0, 0);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */
}

@keyframes device-wrapper {
    20%{
        transform:matrix(0.1, 0, 0, 0.1, 0, 0);
    }

    50%{
        transform:matrix(0.3, 0, 0, 0.3, 0, 0);
    }

    70%{
        transform:matrix(0.5, 0, 0, 0.5, 0, 0);
    }

    80%{
        transform:matrix(0.7, 0, 0, 0.7, 0, 0);
    }

    90%{
        transform:matrix(0.8, 0, 0, 0.8, 0, 0);
    }
    100% {
        transform:matrix(1, 0, 0, 1, 0, 0);
    }
  }



.home-thing-bg-device-left{

    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 123px;
    height: 178px;
    bottom: 0px;
    left: -15px;
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    transform: matrix(1, 0.29237, -0.29237, 1, -180, 0);
    animation-duration: 0.8s;
    animation-timing-function:cubic-bezier(.39, .575, .565, 1);
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */
}


@keyframes device-left {
    0%{
        transform: matrix(1, 0, 0, 1, -180, 0);
    }

    100% {
        transform: matrix(0.9563, 0.29237, -0.29237, 0.9563, 0, 0);
    }
  }

  .home-thing-bg-device-right{

    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 123px;
    height: 178px;
    bottom: 0px;
    left: -15px;
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    transform: matrix(1, 0, 0, 1, 300, 0);
    animation-duration: 0.9s;
    animation-timing-function: cubic-bezier(.39, .575, .565, 1);
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */

  }

  @keyframes device-right {

    0% {
        transform: matrix(1, 0, 0, 1, 300, 0);
    }

    100% {
        transform: matrix(0.93969, -0.34202, 0.34202, 0.93969, 150, 0);
    }
  }

  .home-thing-bg-device-padLock{

    position: absolute;
    width: 48px;
    height: 48px;
    top: 24px;
    left: calc(50% - 24px);
    background-image: url(https://via.placeholder.com/152);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(0, 0, 0, 0, 0, 0);

    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */


  }


  @keyframes device-padLock {
    90% {
        opacity: 0;
        transform: matrix(0.5, 0, 0, 0.5, 0, 0);
    }

    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

  .home-thing-bg-device--light-1{

    position: absolute;
    top: 14px;
    left: calc(50% - 10px);
    width: 5px;
    height: 6px;
    background-image: url(https://via.placeholder.com/152);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(0, 0, 0, 0, 0, 0);

    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */

  }

  .home-thing-bg-device--light-2{

    position: absolute;
    top: 10px;
    left: calc(50% - 2px);
    width: 4px;
    height: 10px;
    background-image: url(https://via.placeholder.com/152);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;

    opacity: 0;
    transform: matrix(0, 0, 0, 0, 0, 0);


    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */
  }

  .home-thing-bg-device--light-3{

    position: absolute;
    top: 14px;
    left: calc(50% + 6px);
    width: 5px;
    height: 6px;
    background-image: url(https://via.placeholder.com/152);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(0, 0, 0, 0, 0, 0);


    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */
  }


  @keyframes device-light {

    0% {
        opacity: 0;
        transform: matrix(0, 0, 0, 0, 0, 0);
    }

    91%{
        opacity: 0.1;
        transform: matrix(0, 0, 0, 0, 0, 0);
    }

    95%{
        opacity: 0.4;
        transform: matrix(0.3, 0, 0, 0.3, 0, 0);
    }

    96%{
        opacity: 0.8;
        transform: matrix(0.8, 0, 0.8, 0, 0);
    }

    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

  /* Group section */

  .home-thing-bg-group-wrapper{
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    margin: 0px auto;
    border-radius: 250px;
    background: rgb(0, 143, 180);
    overflow: hidden;
    transform: matrix(0, 0, 0, 0, 0, 0);


    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */
}

@keyframes group-wrapper {


    20%{
        transform:matrix(0.1, 0, 0, 0.1, 0, 0);
    }

    50%{

        transform:matrix(0.3, 0, 0, 0.3, 0, 0);

    }

    70%{

        transform:matrix(0.5, 0, 0, 0.5, 0, 0);

    }

    80%{

        transform:matrix(0.7, 0, 0, 0.7, 0, 0);

    }

    90%{

        transform:matrix(0.8, 0, 0, 0.8, 0, 0);

    }
    100% {
        transform:matrix(1, 0, 0, 1, 0, 0);
    }
  }

.home-thing-bg-group-buooi{

    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 140px;
    height: 140px;
    top: calc(50% - 86px);
    left: calc(50% - 70px);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;

    transform: matrix(1, 0, 0, 1, -350, 0);

    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */
}

@keyframes group-buooi {


   0% {
        transform: matrix(1, 0, 0, 1, -350, 100);
    }

    100% {
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
  }

  .home-thing-bg-group-wave{

    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    top: 200px;
    width: 148px;
    height: 21px;
    left: calc(50% - 74px);

    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;

    clip: rect(0px, 0px, 0px, 0px);


    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */

  }

  @keyframes group-wave {


    90% {
        clip: rect(0px, 0px, 0px, 0px);
    }

    91%{
        clip: rect(0px, 0px, 0px, 0px);
    }

    94%{

        clip: rect(0px, 20px, 21px, 0px);

    }

    95%{

        clip: rect(0px, 20px, 21px, 0px);

    }

    96%{

        clip: rect(0px, 50px, 21px, 0px);

    }

    99%{

        clip: rect(0px, 100px, 21px, 0px);
    }
    100% {
        clip: rect(0px, 148px, 21px, 0px);
    }
  }


/* Badges  Section */

.home-thing-bg-badges-wrapper{
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    margin: 0px auto;
    border-radius: 250px;
    background-color: rgb(246,248,253);
    overflow: hidden;
    transform: matrix(0, 0, 0, 0, 0, 0);
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    /* Left Animation to be passed by `Style` from JS component. */

}

@keyframes badges-wrapper {


    20%{
        transform:matrix(0.1, 0, 0, 0.1, 0, 0);
    }

    50%{

        transform:matrix(0.3, 0, 0, 0.3, 0, 0);

    }

    70%{

        transform:matrix(0.5, 0, 0, 0.5, 0, 0);

    }

    80%{

        transform:matrix(0.7, 0, 0, 0.7, 0, 0);

    }

    90%{

        transform:matrix(0.8, 0, 0, 0.8, 0, 0);

    }
    100% {
        transform:matrix(1, 0, 0, 1, 0, 0);
    }

  }





.home-thing-bg-badges-id{
    position: absolute;
    width: 64px;
    height: 64px;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    background-image: url(https://via.placeholder.com/152);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);


    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes badges-id {

    95%{

        opacity: 0;
        transform: matrix(0.6, 0, 0, 0.6, 0, 0)

    }

    96%{

        opacity: 0.4;
        transform: matrix(0.8, 0, 0, 0.8, 0, 0)
    }
    96.5%{

        opacity: 0.7;
        transform: matrix(0.9, 0, 0, 0.9, 0, 0)
    }
    96.8%{

        opacity: 0.8;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
    97%{

        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }

    99%{

        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)

    }
    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
  }

  .home-thing-bg-badges-coles{

    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 38px;
    height: 38px;
    top: calc(50% - 62px);
    left: calc(50% - 62px);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);


    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;

  }

  @keyframes badges-coles {


    93%{

        opacity: 0;
        transform: matrix(0.4, 0, 0, 0.4, 0, 0)

    }

    93.5%{

        opacity: 0.3;
        transform: matrix(0.7, 0, 0, 0.7, 0, 0)

    }

    94%{

        opacity: 0.8;
        transform: matrix(0.8, 0, 0, 0.8, 0, 0)

    }

    94.5%{

        opacity: 1;
        transform: matrix(0.9, 0, 0, 0.9, 0, 0)
    }


    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
  }

  .home-thing-bg-badges-coles{

    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 38px;
    height: 38px;
    top: calc(50% - 62px);
    left: calc(50% - 62px);

    /* transform: matrix(0.9563, 0.29237, -0.29237, 0.9563, 0, 0); */
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);


    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;


  }

  @keyframes badges-coles {


    93%{

        opacity: 0;
        transform: matrix(0.4, 0, 0, 0.4, 0, 0)

    }

    93.5%{

        opacity: 0.3;
        transform: matrix(0.7, 0, 0, 0.7, 0, 0)

    }

    94%{

        opacity: 0.8;
        transform: matrix(0.8, 0, 0, 0.8, 0, 0)

    }

    94.5%{

        opacity: 1;
        transform: matrix(0.9, 0, 0, 0.9, 0, 0)
    }


    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
  }

  .home-thing-bg-badges-card{

    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 38px;
    height: 38px;
    top: calc(50% + 24px);
    left: calc(50% + 24px);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);

    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;

  }

  @keyframes badges-card {


    93%{

        opacity: 0;
        transform: matrix(0.4, 0, 0, 0.4, 0, 0)

    }

    93.5%{

        opacity: 0.3;
        transform: matrix(0.7, 0, 0, 0.7, 0, 0)

    }

    94%{

        opacity: 0.8;
        transform: matrix(0.8, 0, 0, 0.8, 0, 0)

    }

    94.5%{

        opacity: 1;
        transform: matrix(0.9, 0, 0, 0.9, 0, 0)
    }


    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
  }

  .home-thing-bg-badges-empty{
    background-color: white;
    border-radius: 100%;
    position: absolute;
    width: 32px;
    height: 32px;
    top: calc(50% - 80px);
    left: calc(50% - 20px);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);

    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;

  }

  @keyframes badges-empty {

    91%{

        opacity: 0;
        transform: matrix(0.4, 0, 0, 0.4, 0, 0)

    }

    91.5%{

        opacity: 0.3;
        transform: matrix(0.7, 0, 0, 0.7, 0, 0)

    }

    92%{

        opacity: 0.8;
        transform: matrix(0.8, 0, 0, 0.8, 0, 0)

    }

    92.5%{

        opacity: 1;
        transform: matrix(0.9, 0, 0, 0.9, 0, 0)
    }


    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
  }

  .home-thing-bg-badges-facebook{

    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 32px;
    height: 32px;
    top: calc(50% + 32px);
    left: calc(50% - 50px);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;

  }

  .home-thing-bg-badges-twitter{
    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 32px;
    height: 32px;
    top: calc(50% - 36px);
    left: calc(50% + 40px);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }


  @keyframes badges-facebook {

    88%{

        opacity: 0;
        transform: matrix(0.4, 0, 0, 0.4, 0, 0)

    }

    88.5%{

        opacity: 0.3;
        transform: matrix(0.7, 0, 0, 0.7, 0, 0)

    }

    89%{

        opacity: 0.8;
        transform: matrix(0.8, 0, 0, 0.8, 0, 0)

    }

    90%{

        opacity: 1;
        transform: matrix(0.9, 0, 0, 0.9, 0, 0)
    }


    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
  }

  .home-thing-bg-badges-police{
    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 28px;
    height: 28px;
    top: calc(50% - 62px);
    left: calc(50% + 18px);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  .home-thing-bg-badges-removals{
    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 38px;
    height: 38px;
    top: calc(50% - 108px);
    left: calc(50% - 56px);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }


  @keyframes badges-police {
    97%{
        opacity: 0;
        transform: matrix(0.4, 0, 0, 0.4, 0, 0)
    }

    97.5%{
        opacity: 0.3;
        transform: matrix(0.7, 0, 0, 0.7, 0, 0)

    }

    98%{
        opacity: 0.8;
        transform: matrix(0.8, 0, 0, 0.8, 0, 0)
    }

    98.5%{
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }


    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
  }


  .home-thing-bg-badges-child{
    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 52px;
    height: 52px;
    top: calc(50% + 62px);
    left: calc(50% - 16px);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  .home-thing-bg-badges-paint{
    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 38px;
    height: 38px;
    top: calc(50% - 64px);
    left: calc(50% + 70px);

    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    /* animation: badges-police;
    animation-duration: 3s;
    animation-fill-mode: forwards; */
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  .home-thing-bg-badges-electrician{
    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 38px;
    height: 38px;
    top: 50%;
    left: calc(50% - 100px);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  .home-thing-bg-badges-ikea{
    background-image: url(https://via.placeholder.com/152);
    position: absolute;
    width: 38px;
    height: 38px;
    top: calc(50% - 110px);
    left: calc(50% + 35px);
    background-size: contain;
    background-position: 50% center;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  @keyframes badges-police {


    83%{
        opacity: 0;
        transform: matrix(0.4, 0, 0, 0.4, 0, 0)
    }

    83.5%{
        opacity: 0.3;
        transform: matrix(0.7, 0, 0, 0.7, 0, 0)

    }

    84%{
        opacity: 0.8;
        transform: matrix(0.8, 0, 0, 0.8, 0, 0)
    }

    84.5%{
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }


    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
  }



