.insurance {
    background-color: #fff;
    padding-bottom: 50px;
}

.insurance__background {
    background: linear-gradient(180deg, #0797bf 0, #0eb7d5 22%, #10c7df 39%, #fff);
    height: 1100px;
    margin: 0;
    width: 100%;
}

.insurance__background .ring {
    background: url(https://via.placeholder.com/404);
    width: 204px;
    height: 204px;
    background-size: 204px 204px;
    margin: -55px auto 0;
}

.insurance__background .wave {
    background: url(https://via.placeholder.com/314x44);
    width: 157px;
    height: 21px;
    background-size: 157px 21px;
    margin: 25px auto 0;
}

.insurance__background .intro h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 300px;
}

.insurance__background .tile-container {
    width: 1024px;
    margin: 50px auto 0;
}

.insurance__background .tile-container .tile__one {
    width: 48%;
    float: left;
    margin-right: 1.6%;
    text-align: center;
}

.insurance__background .tile-container .tile__two {
    width: 48%;
    float: left;
    margin-right: 1.6%;
    text-align: center;
}

.tile-container .tile__one .tile__background {
    background: url(https://via.placeholder.com/47x40) 50%;
    width: 47px;
    height: 40px;
    margin: 0 auto;
}

.tile-container .tile__two .tile__background {
    background: url(https://via.placeholder.com/40x35) 50%;
    width: 40px;
    height: 35px;
    margin: 0 auto;
}

.tile-container .tile__heading {
    text-align: center;
    margin: 10px 0;
    color: #fff;
    line-height: 1.2;
    font-size: 22px;
    font-weight: 500px;
}

.tile-container .tile__paragraph {
    padding: 0 5% 5%;
    margin: 0 auto;
    width: 320px;
    color: #fff;
    font-size: 15px;
}

.tile-container .p {
    margin: 8px 0;
}

.insurance__about {
    padding: 20px;
    width: 984px;
    border-radius: 4px;
    margin: -500px auto 0;
}

.insurance__about a {
    color: #008fb4;
}

.ImportantNotice {
    border-radius: 4px 4px 4px 4px;
    background: #008fb4;
}

.insurance__about h1 {
    padding: 15px;
    border-radius: 4px 4px 0 0;
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.insurance__about h1:nth-of-type(3) {
    margin-top: 50px;
}

.insurance__about h2 {
    padding: 0 15px;
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.insurance__about .ImportantNotice p {
    margin: 0;
    padding: 15px;
    color: #fff;
}

.InsuranceCoverage {
    background: #fff;
    border-radius: 4px 4px 4px 4px;
}

.InsuranceCoverage h1 {
    color: #008fb4;
    margin-top: 30px;
    text-align: center;
}

.InsuranceCoverage h1:nth-of-type(2) {
    margin-top: 50px;
}

.InsuranceCoverage h2 {
    color: #008fb4;
    padding: 0 30px;
}

.InsuranceCoverage h3 {
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    margin: 0;
    line-height: 1.2;
    padding: 0 30px;
}

.InsuranceCoverage p {
    padding: 10px 30px;
    margin: 0;
}

.InsuranceCoverage ul {
    background-color: #fff;
    margin: 0;
    padding: 1em 40px 1em 70px;
    font-size: 16px;
}

@media screen and (max-width: 780px) {
    main {
        font-size: 16px;
        width: 100%;
    }
    .insurance {
        width: 100%;
    }
    .insurance__background {
        width: 100%;
        height: 1500px;
    }
    .insurance__background .tile-container .tile__one ,.insurance__background .tile-container .tile__two{
        width: 90%;
        display: block;
        float: none;
        margin: 0 auto 40px;
    }
    .insurance .insurance__about {
        margin-top: -680px;
    }
}

@media screen and (max-width: 1023px) {
    .insurance__background .tile-container {
        width: 100%;
    }
    .insurance__about {
        width: 90%;
        padding: 2.5%;
        margin: -530px auto 0;
    }
}
