/*TODO:explain*/
/*.offer-header-container{*/
    /*justify-content: flex-start;*/
    /*flex-grow: unset;*/
/*}*/

/*.user-details{*/
    /*position: relative;*/
    /*top: -10px;*/
    /*!* border: 1px solid black; *!*/
/*}*/
.offer{
    margin-top: 40px;
    position: relative;
}
.offer-price{
    font-size: 20px;
    line-height: 28px;
    margin-right: 20px!important;
}

.user-details p:last-child{
    margin: 12px 0 6px;
}

.offer-comment{
    background-color: rgb(246, 248, 253);
    border-radius: 4px;
    padding: 8px;
    max-height: 160px;
    overflow-y: hidden;
    position: relative;
    transition: max-height 0.3s ease-out 0s;
    color: rgb(41, 43, 50);
    letter-spacing: 0.15px;
    line-height: 20px;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
}

.offer-comment:last-child{
    background-color: rgb(246, 248, 253);
    border-radius: 4px;
    padding: 8px;
    max-height: 160px;
    overflow-y: hidden;
    position: relative;
    transition: max-height 0.3s ease-out 0s;
    color: rgb(41, 43, 50);
    letter-spacing: 0.15px;
    line-height: 20px;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}

.avatar-img{
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

#user--icon{
    width: 100%;
    height: 100%;
}

/* ************************* */
@media screen and (max-width: 780px){
.responsive--collapse{
    flex-direction: column;
    padding-top: 1.5rem;
}

.offer-price{
    padding-left: 2rem;
}

.avatar--position{
    position: absolute;
    left: -0.2rem;
    top: -1.5rem;
}

}
