.feature p{
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
}
.feature h4{
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.feature img{
    width: 55px!important;
    height: auto!important;
}
