.task-list {
        width: 364px;
        display: block;
}

.new-list-task-frame {
        padding-top: 0px;
        position: relative;
}

.new-list-task-title {
        pointer-events: all;
        cursor: pointer;
        z-index: 2;
        top: 0;
        left: 0%;
        right: 0%;
        height: 34px;
        width: 222px;
        margin: 10px auto;
        border-radius: 4px;
        position: absolute;
        text-align: center;
        color: #fff;
        line-height: 34px;
        font-size: 11px;
        text-transform: uppercase;
        box-shadow: 4px 6px 8px rgba(187, 194, 220, .6);
        background: #008fb4;
        font-family: museo_sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.vertical-tasks-list {
        margin: 0px;
        list-style: none;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 160px);
        padding-top: 50px;
        padding-left: 0;
}

.vertical-tasks-list>li {
        list-style: none;
}

.new-list-task_count, .new-list-task_message {
        font-weight: 700;
}
