.Hexagon--xs {
    width: 100px;
    height: 55px;
    background: rgb(0, 143, 180);
    position: relative;
    z-index: -1;
}
.Hexagon--xs:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid rgb(0, 143, 180);
}
.Hexagon--xs:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid rgb(0, 143, 180);
}


.Hexagon--lg {
    width: 200px;
    height: 105px;
    background: rgb(0, 143, 180);
    position: relative;
    z-index: -1;
    /*-webkit-animation: action 2s infinite  alternate;*/
    /*animation: action 2s infinite  alternate;*/
}
.Hexagon--lg:before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid rgb(0, 143, 180);
}
.Hexagon--lg:after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 50px solid rgb(0, 143, 180);
}

.Animation--up-down{
    -webkit-animation: action 2s infinite  alternate;
    animation: action 2s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(-15px); }
    100% { transform: translateY(15px); }
}
@keyframes action {
    0% { transform: translateY(-15px); }
    100% { transform: translateY(15px); }
}
