.user_page{
    font-family: museo_sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    padding-top: 57px;
    position: relative;
}

.user_page__content {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-profile-screen {
    position: relative;
    padding: 47px 0 20px;
}

.user-profile-screen .user-profile {
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
    box-shadow: 0 0 4px rgba(0,0,0,.3);
}

.user-profile-screen .splitter-section {
    display: block;
}

.user-profile-screen .splitter-section .splitter-section-content {
    position: relative;
    margin: 0px;
    padding-bottom: 25px;
}

.large {
    font-size: 16px;
}

.clear {
    clear: both;
}

.user-profile-screen .user-profile .personals-section .name-tagline {
    margin-top: 50px;
}

.user-profile-screen .user-profile .personals-section .name-tagline .name {
    color: airGreyDarkRebrand;
    font-size: 16px;
    margin-bottom: 4px;
}

.user-profile-screen .user-profile .personals-section .summary {
    width: 40%;
    float: left;
}

.personals-container .splitter-section .splitter-section-content{
    margin: 0px 20px;
}

.pen-container {
    z-index: 2;
    background-color: #bbc2dc;
    border-radius: 20px;
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.pen-container div{
    padding-top: 10px;
}

.tabs .tab.active:first-child {
    border-radius: 8px 0 0 0;
}

.tabs .tab.active {
    color: #008fb4;
    border-bottom: 2px solid #008fb4;
    background-color: #fff;
}

.tabs .tab.half {
    width: 50%;
}

.tabs .tab {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    font-weight: 500;
    -webkit-transition: border-bottom .5s ease-in-out,background-color .5s ease-in-out;
    -o-transition: border-bottom .5s ease-in-out,background-color .5s ease-in-out;
    transition: border-bottom .5s ease-in-out,background-color .5s ease-in-out;
}


.small {
    font-size: 12px;
}

.user-profile-screen .user-profile .personals-section .stats .breakdown.true {
    opacity: 1;
    position: relative;
    top: auto;
}

.user-profile-screen .user-profile .personals-section .stats .breakdown {
    text-align: right;
    padding: 10px 20px;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    position: absolute;
    top: -999px;
    height: 85px;
}

.user-profile-screen .user-profile .personals-section .stats .no-reviews a {
    display: block;
}

a, a.dark {
    text-decoration: none;
    cursor: pointer;
}

.personals-container {
    display: inline-block;
    width: 85%;
}


.clearfix {
    margin: 0 20px;
    padding-bottom: 15px;
}

.tagline {
    width: 35%;
    float: right;
}

.tagline>p {
    font-size: 1.25em;
    font-style: italic;
    text-align: center;
    color: #bbc2dc;
    padding-right: 20px;
    margin: 8px 0;
}

.description {
    width: 65%;
    float: left;
}

.description {
    position: relative;
    overflow: hidden;
}

.read-more {
    display: block;
    max-height: 180px;
    overflow: hidden;
    margin-bottom: 30px;
    padding-right: 20px;
}

.splitter-section-name {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .08em;
    margin: 0;
    padding: 15px 21px;
    height: auto;
}

.splitter-section__penposition{
    position: relative;
}

.pen1{
    position: absolute;
    top: 35px;
    right: -0.75rem;
}

.pen2{
    position: absolute;
    top: 0px;
    right: -2rem;
}

.pen3{
    position: absolute;
    top: 0px;
    right: -2rem;
}

.pen4{
    position: absolute;
    top: 0px;
    right: -2rem;
}

.user_profile_reviews_content {
    width: 100%;
}

.user_profile_reviews_contentin {
    text-align: center;
    color: rgb(84, 90, 119);
    font-style: italic;
    padding: 8px;
}

.hidden{
    display: none;
}

.anchovy-form input, .anchovy-form select {
    height: 40px;
}

.anchovy-form input, .anchovy-form textarea {
    width: 100%;
    border: 1px solid #bbc2dc;
    border-radius: 3px;
    padding: 0 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.user-profile-screen .button-container {
    text-align: center;
}

.button-min {
    line-height: 1.4;
    border-radius: 200px;
    display: inline-block;
    letter-spacing: .05em;
    -webkit-transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91);
    -o-transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91);
    transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid rgba(41,43,50,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91),background-color .35s cubic-bezier(.615,.19,.305,.91);
    -o-transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91),background-color .35s cubic-bezier(.615,.19,.305,.91);
    transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91),background-color .35s cubic-bezier(.615,.19,.305,.91);
    background-color: #f6f8fd;
    color: #008fb4;
    text-shadow: none!important;
}

.button-sml {
    margin-right: 6px;
}

.button-sml {
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 20px;
    padding: 6px 16px;
    text-shadow: 0 1px 2px rgba(0,0,0,.25);
}

a.button-lrg, a.button-med, a.button-sml, div.button-lrg, div.button-med, div.button-sml {
    line-height: 1.4;
}

.attachment-input {
    top: 0px;
    box-sizing: content-box;
    cursor: pointer;
    float: none;
    height: 96px;
    width: 96px;
    position: relative;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(246, 248, 253);
    border-image: initial;
    border-radius: 2px;
    overflow: hidden;
}

.portfolioEdit .button-container{
    padding: 20px 0;
}

.splitter-left{
    margin-top: 20px;
}
.skill-category-dd{
    float: left;
    width: 25%;
    font-weight: 500;
}

.avatarImgUser .attachment-input {
    width: 100%;
    position: relative;
    text-align: center;
    float: left;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    z-index: 2;
    width: 100%;
    margin-left: -50%;
    left: 50%;
}

 .attachment-input svg.upload-icon {
    fill: #fff;
}

@media screen and (max-width: 780px) {
    body {
        font-size: 16px;
    }

    .user_page{
        padding-top: 5px;
    }

    .splitter-section-badges{
        display: none;
    }

    .user_page__content{
        width: 100%;
        margin: 0;
    }

    .user-profile-screen .user-profile {
        float: none;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0 0 5px 5px;
    }

    .user-profile-screen .user-profile .personals-section .name-tagline{
        margin-top: 20px;
    }

    .user-profile-screen .user-profile .personals-section .name-tagline .name{
        text-align: center;
        width: 100%;
    }

    .user-profile-screen .user-profile .personals-section .name-tagline .summary{
        text-align: center;
        width: 100%;
    }

    .user-profile-screen .user-profile .personals-section .name-tagline .stats{
        float: none;
        width: 100%;
        margin-top: 10px;
    }
    .pen1{
        right: 3.5rem;
    }

    .pen2{
        right: -3.5rem;
    }

    .pen3{
        right: -3.5rem;
    }

    .pen4{
        right: -3.5rem;
    }

    .reviews-section .splitter-section-content .splitter-section-content-inner .user_profile_reviews_out{
        text-align: center;
        width: 100%;
    }
}

.attachment-input input {
    width: 100%;
    padding: 11px 0!important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
