.contentSize{
    height: 400px;
}

.splitter-section .splitter-section-content-inner {
    margin: 0 20px 0 20px;
    padding-bottom: 20px;
}

.personal-header {
    position: relative;
}

.header-image {
    height: 200px;
    background-size: cover;
    background-color: #e8edf2;
    position: relative;
    width: auto;
    margin: 0 -20px;
    border-radius: 5px 5px 0 0;
    background-image: url(https://via.placeholder.com/1024x200);
    background-position: 50% 50%;
}

.avatarImgUser {
    position: absolute;
    top: 90px;
}

.avatarImgUser {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 128px;
    height: 128px;
}

.avatarImgUser img {
    border: 4px solid #fff;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid #bbc2dc;
    border-radius: 50%;
}

.avatorPicture{
    width: 128px;
    height: 128px;
}

.last-online span{
    margin-left: 3px;
}

.stats {
    float: right;
    width: 227px;
    border: 1px solid #f6f8fd;
    border-radius: 8px;
    margin-top: -40px;
}

.personals-section .stats .breakdown.true {
    opacity: 1;
    position: relative;
    top: auto;
}

.no-reviews {
    text-align: center;
    font-style: italic;
    color: #545a77;
    margin: 10px 15px;
    font-size: 11px;
}
