.earn-money-page{

    font-family: museo_sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 300;
    color: #545a77;
    background-color: #f6f8fd;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 14px;
    line-height: 1.4;
}


.header-content{

    height: 620px;
    background-image: linear-gradient(0deg,#11c9e1 25%,#0798bf);

}

.full-height{
    height: 100%

}

.earn-money-page .header-col{

    padding: 0 30px;
    width: 50%;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: auto;
}


.header-col .handyMan{
    right: 40px;
    width: 400px;
    height:100%;
    margin-top: 58px;
    margin-left:30%;
    border: none;
}

#header-col-textBox{

    display: inline-block;
    width: max-content;
    margin-top: 10%;
    margin-left:2%;
    left: -10px;
}

.earn-money-page .header-col h1{
    font-weight: 300;
    font-size: 29px;
    margin-top: 10px;
    max-width: 300px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    color: #fff;
}

.earn-money-page .header-col p{
    color: #fff;
    max-width: 330px;
    font-size: 11px;
    margin: 8px 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.outer-container-state{

    padding: 70px 0;
    background-color: #fbfcfd;
  
}

.outer-container-state .content{

    display: block;
}

.outer-container-state .content .row{

    display: flex;
    flex-direction: row;
    width: 100%;
}


.outer-container-state .content .colums{
    width: 32%;
}

.outer-container-state .content svg{

    stroke: #008fb4;
    fill: #008fb4;
    width: 40px;
    height: 45px;
}


.outer-container-howToStart {

    background: #fff;
    padding: 70px 0;
}

.outer-container-howToStart h3 {

    font-size: 24px;
    font-weight: 300;
}

.outer-container-howToStart ul{

    list-style: none;
    padding:0;
}

.get-start-block{
    max-width: 750px;
    margin: 30px auto;
}

.outer-container-howToStart .content .col-1{

    max-width: 300px;
    width: 50%;
}

.outer-container-howToStart .content .col-2{

    max-width: 280px;
    text-align: left;
    width: 100%;
    padding: 20px 10px;
    margin-left: 60px;
}

.display-table{

    height: 200px;
    display:inline-block;

} 


.img-container{

    width: 300px;
    height: max-content;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}

.get-start-block:nth-child(2n-1){ 

    margin: 0 0 0 300px;
    max-width: 750px;
}

.get-start-block:nth-child(2n){ 

    margin: 0 0 0 400px;
}

.row:after{

    content: "";
    display: table;
    clear: both;
}


.outer-container-faq .columns{

    float: left;
    width: 48%;
}

.outer-container-faq .content:after{

    content: "";
    display: table;
    clear: both;
}

.earn-money-page .header-content h2 {
    display: none;
   
}


/* responsive design..... */


@media screen and (max-width: 1030px){


    #header-col-textBox{

        display: inline-block;
        width: max-content;
        margin-top: 10%;
        margin-left:50px;
        left: -10px;
    }
}


@media screen and (max-width: 948px){


    #header-col-textBox{

        display: inline-block;
        width: max-content;
        margin-top: 10%;
        margin-left:70px;
        left: -10px;
    }
}


 @media screen and (max-width: 850px){

/* Section-1 */
    .header-content{
        height:217px;
    }

    .full-height {
        height:217px;
        margin-top: 50px;
    }


    .earn-money-page .header-content .header-col{

        width: 100%;
        color: #fff;
    }

    .earn-money-page .header-content img {
        display: none;
    }

    #header-col-textBox{

        display: inline-block;   
        width: max-content;
        margin-top: 0;
        margin-left:20%;

        left: -100px;
    }

     .earn-money-page .header-content h1 {
        font-size: 35px;
        max-width: 360px;
        margin:  auto;
        text-align: center;
    }

    .earn-money-page .header-content h2 {
        display: inline-block;
        padding: 0 20px 20px;
        max-width: 360px;
        font-size: 20px;
        display: block;
        text-align: center;
        margin:auto;

    } 

    .earn-money-page .header-content p {

        color:black;
        display:inline-block;
        margin:0;
        position: absolute;
        left:0;
    }

    .outer-container-state .content .row{

        display: flex;
        flex-direction: column;
    }

    /* Section-2 */

    .tie{

        margin-left: 20px;
    }

    .colums .text-h4{

    margin:0;
    font-size: 15px;
    font-weight: bolder;
   }


   .outer-container-state .content .colums{

    width: 82%;
    margin-top:0;
    padding:0;
   }

   .insurance-terms{

    font-size: 10px;
    width: 400px;
   }

/* Section-3 */

.get-start-block{
    height: 530px;
}

.get-start-block:nth-child(2n) {
    width: max-content;
    max-width: 350px;
    margin:auto;
}
.get-start-block:nth-child(2n-1) {
    margin:auto;
    max-width: 350px;
}

.get-start-block .col-1{

    float: none;
    width: 50%;
    display: inline-block;
    margin-right: 100px; 
}

.get-start-block h3{

    margin:0;
}

.outer-container-howToStart .content .col-2 {

    margin-left: 80px;

    } 

    /* section-4 */

    .outer-container-faq .columns {
        float: left;
        width: 90%;
    }
 }


@media screen and (max-width: 700px){

    #header-col-textBox{

        display: inline-block;   
        width: max-content;
        margin-top: 0;
        margin-left:17%;

        left: -100px;
    }

}

@media screen and (max-width: 650px){

    #header-col-textBox{

        display: inline-block;   
        width: max-content;
        margin-top: 0;
        margin-left:12%;

        left: -100px;
    }

}

@media screen and (max-width: 580px){

    #header-col-textBox{

        display: inline-block;   
        width: max-content;
        margin-top: 0;
        margin-left:8%;

        left: -100px;
    }

}

@media screen and (max-width: 520px){

    #header-col-textBox{

        display: inline-block;   
        width: max-content;
        margin-top: 0;
        margin-left:5%;

        left: -100px;
    }

}



/* ///////////////////////////////////////Attribute section////////////////////////////////////// */

.padder20{
    padding: 20px;
}

/* Blue color:  */

.blueColor{

    color: #008fb4;
}

.text-h4 {

    font-size: 22px;
}

.center{ 
    text-align: center;
    margin:auto;
}

.realtive{
    position: relative;
}

.content{

    /* max-width: 1024px; */
    box-sizing: border-box;
}

.margin-20-bottom{
    margin-bottom: 20px;
}


.left{
    float: left;
    display: inline-block;
    margin-left: 40px;
}

.right{

    float: right;
    width: 50%;
    display: inline-block;
    margin-right: 80px;
}

.inline-block{

    display: inline-block;
}

.margin-20-bottom{

    margin-bottom: 20px;
}

.row{

    text-align: left;
}

.padder10{

    padding: 10px;
}

.padder-0-20{

    padding: 0 9.5px;
}

.margin-20-bottom{

    margin-bottom: 20px;
}

