.TaskForm{
    width:59%;
    height:auto;
    position: relative;
    margin-left:8%;
    z-index: 1002;
}

.TaskForm h1{
    color: rgb(41, 43, 50);
    font-weight: normal;
    margin: 32px 0px 8px;
    font-size: 24px;
}

.TaskForm p{
    font-family: 'Poppins', Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
    font-weight: 300;
    color: #545a77;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: initial;
    vertical-align: initial;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 0px 0px 12px;
    padding: 0px;
}

.TaskContainer__button{
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color:white;
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    letter-spacing: 0.15px;
    line-height: 1.38;
    min-height: 48px;
    min-width: 100px;
    position: relative;
    border-radius: 4px;
    padding: 8px;
    outline: none;
    transition: background-color 0.1s ease 0s, color 0.1s ease 0s, fill 0.1s ease 0s, box-shadow 0.1s ease 0s;
    border-color: darkgrey;
    border-width: 1px;
    border-style: solid;
    margin-right: 6px;
}

.TaskContainer{
        display:flex;
        margin-bottom: 24px;
}

.TaskContainer--bedroom{
        display:flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
}

.TaskForm__bathRoom:after{
        display:flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
}

#input1, #input2, #input3{
    margin-bottom: 24px;
}

#input2{
    width: 300px;
    height: 150px;
}

@media (max-width: 400px){
    .TaskContainer {
        margin-left:-5px;
    }
}

@media (max-width: 1000px){
    #input2{
        width: 100%;
        height: 150px;
    }
}

@media (max-width: 980px){
    .TaskForm--page{
        width: 94%;
        margin:auto;
    }

    .TaskContainer--otherService {
        flex-wrap: wrap;
    }
}

@media (max-width: 420px){
    .TaskForm h2 {
        font-size: 15px;
    }
}

@media (min-width: 1210px){
    .TaskForm{
        animation-name: fade-forLarge !important;
        animation-fill-mode: forwards;
        visibility: hidden;
        margin-left:11.5%;
    }
@keyframes fade-forLarge {
    3% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
    .TaskContainer{
        width:max-content;
    }

    .TaskForm{
        width:max-content;
    }
}


@media (min-width: 1399px){
    .TaskForm{
        margin-left:14%;
    }
}

@media (min-width: 1500px){

    .TaskForm{
        margin-top:2%;
        animation-name: fade-forLarge-2 !important;
        animation-fill-mode: forwards;
        visibility: hidden;
        margin-left:16.5%;
      }

@keyframes fade-forLarge-2 {
    3% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }
}

@media (min-width: 1599px){
    .TaskForm{
        margin-left:18%;
      }
}

@media (min-width: 1699px){
    .TaskForm{
        margin-left:20%;
      }
}

@media (min-width: 1800px){
    .TaskForm{
        margin-left:22%;
          animation-name: fade-forLarge-3 !important;
          animation-fill-mode: forwards;
          visibility: hidden;
      }
      @keyframes fade-forLarge-3 {
        3% {
            opacity: 0;
            transform: translateY(200px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@media (min-width: 1900px){
    .TaskForm{
        margin-left:24.5%;
      }
}

