 .TaskContainer__button--bedrooms {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgba(192, 189, 189, 0.6);
    color:black;
    border: 1px solid light-grey;
    border-radius: 10px;
  }
  
  .TaskContainer__button--bedrooms:hover {
      color: rgb(0, 143, 180)
    }
  
  .TaskContainer__button--bedrooms:active {
    background-color:rgb(0, 143, 180);
    color:white;
  } 

  .TaskContainer__button--bedrooms:focus {
    background-color:rgb(0, 143, 180);
    color:white;
  } 

  #one-click-state,#two-click-state,#three-click-state,#four-click-state,#five-click-state{
    background-color:rgb(0, 143, 180);
    color:white;
  } 

  @media (max-width: 400px){
    .TaskContainer__button--bedrooms {
      transform: scale(0.9);
      margin-right:0;
    }
    .TaskContainer--bedroom {
      flex-wrap: wrap;
      width:100%;
    }
}