body{

}

.flex__statusBar {
    display: flex;

}
.status{
    margin-top: 4.3rem;
    padding-left: 0px;
}

.status li{
    list-style-type: none;
    margin: 20px;
    font-size: 12px;
}

.status p{
    color: #bbc2dc;
    padding: 0;
    margin: 0;
}

.highlight-btn{
    /* background-color: lightgreen;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px; */
    text-transform: uppercase;
    white-space: nowrap;
    background-color: rgb(229, 240, 217);
    display: block;
    padding: 5px 12px;
    border-radius: 10px;
}

.highlight-btn p{
    color: #7db343;
}
