footer .menu-hierarchy {
    max-width: 1024px;
    margin: auto;
    display: flex;
    padding: 64px 0;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.menu-hierarchy .menu-folder-items a {
    color: #545a77;
    height: 24px;
    line-height: 24px;
    display: block;
    transition: all .25s ease-in-out;
}

.menu-hierarchy .menu-folder-control {
    margin-bottom: 11px;
}

.menu-hierarchy .menu-folder-control a {
    color: #bbc2dc;
}

footer {
    background: #292b32;
}

.footer-links {
    padding: 30px 0 32px 0;
    max-width: 1024px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.footer-pty-ltd {
    padding: 16px 0 9px;

    box-sizing: border-box;
    position: relative;
    width: 100%;
    vertical-align: middle;
    background-color: #333535;
}

.container--footer {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

.footer-links a {
    margin-right: 8px;
}

.shieldtasker-company-details {
    margin-left: 10px;
    color: #545a77;
}

.shieldtasker-logo-small path {
    fill: #545a77 !important;
}

.menu-hierarchy .menu-folder-items a:hover {
    color: #008FB4;
}

.footer-icon{
    width: 20px;
    vertical-align: middle;
}

.app-img{
    width: 110px;
    height: 32px!important;
}

@media screen and (max-width: 780px) {
    footer .menu-hierarchy {
        flex-wrap: wrap;
        padding: 34px 20px;
    }

    footer .footer-links {
        padding: 0 20px 34px 20px;
    }

    footer .menu-folder {
        width: 100%;
    }

    .menu-hierarchy .menu-folder-items a {
        display: none;
    }
}
