.container-create-request{
        display: flex;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        overflow: auto;
        overflow-x: hidden;
        flex-direction: column;
        position: relative;
}
.create-request-modal{
        list-style-type: none;
        color: rgb(41, 43, 50);
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden auto;
        padding: 10px 20px;
        flex-grow: 1;
        flex-shrink: 0;
}
.create-request-form-field{
        list-style-type: none;
        flex-shrink: 0;
        margin: 0px;
        padding: 0px 0px 24px;
}
.create-request-label{
        padding-inline-start: 0;
        display: block;
        color: rgb(41, 43, 50);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        max-width: 100%;
        padding: 0px 0px 4px;
}
.create-budget-tags{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
}
.create-budget-tags{
        height: 30px;
        line-height: 30px;
}
.create-budget-tag{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        height:24px;
        line-height: 24px;
        letter-spacing: 0.15px;
        position: relative;
        padding: 8px 4px 8px 0px;
}
.create-budget-tag-p{
        line-height: 24px;
        width: 100px;
        height: 24px;
}
.budget-wrapper{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 47px;
        line-height: 46px;
        position: relative;
        width: 45%;
}
.budget-input-icon{
        color: rgb(187, 194, 220);
        position: relative;
        width: 48px;
        pointer-events: none;
        box-sizing: border-box;
        left: 0px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        border: 1px solid rgb(187, 194, 220);
        border-radius: 5px;
        height: 46px;
        line-height: 46px;
}
.budget-input-icon::after{
        content: " ";
        position: absolute;
        height: 46px;
        right: 0px;
        display: block;
        border-right-color: rgb(187, 194, 220);
        border-right-width: 1px;
        border-right-style: solid;
        transition: border-color 0.35s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
}
.budget-total{
        box-shadow: none;
        box-sizing: border-box;
        -webkit-appearance: none;
        width: 100%;
        color: rgb(41, 43, 50);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        min-height: 40px;
        animation: 0s ease 0s 1 normal none running none;
        outline: none;
        padding: 12px 12px 12px 12px;
        border-radius: 4px;
}
.budget-total:enabled{
        border-color: rgb(187, 194, 220);
        border-width: 1px;
}
.total-time-budget-wrapper{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
}
.budget-screen-hour-sign{
        position: absolute;
        width: 40px;
        pointer-events: none;
        top: 20px;
        bottom: 25px;
        box-sizing: border-box;
        right: 18px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        justify-content: space-around;
}
.budget-screen-hourly-wrapper{
        display:flex;
        flex-direction: row;
        width: 45%;
}
.budget-screen-hours{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
}
.chwtAu {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        padding: 0px 8px;
    }
    .budget-screen-hours{
        flex-shrink: 0;
        margin: 0px;
        padding: 0px;
        position: relative;
        width: 100%;
    }
    .budget-hour-text-input{
        box-shadow: none;
        box-sizing: border-box;
        -webkit-appearance: none;
        width: 100%;
        color: rgb(41, 43, 50);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        min-height: 40px;
        animation: 0s ease 0s 1 normal none running none;
        outline: none;
        padding: 12px 48px 12px 12px;
        border-radius: 4px;
    }
    .banner-wrapper{
        display: flex!important;
        flex-direction: row!important;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(0, 143, 180);
        flex-shrink: 0;
        height: 80px;
        margin: 0px -24px;
        color: rgb(41, 43, 50);
        -webkit-box-flex: 1;
        flex-grow: 1;
        padding: 10px 20px;
    }
    .estimated-budget-banner{
        color: rgb(255, 255, 255);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
    }
    .estimated-budget-banner-sub{
        color: rgb(255, 255, 255);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
    }
    .banner-budget-total{
        display: flex;
        color: rgb(255, 255, 255);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 34px;
        letter-spacing: -0.15px;
        line-height: 1;
    }
    .banner-budget-currency{
        color: rgb(255, 255, 255);
        font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        padding-top: 4px;
        padding-right: 4px;
    }