.careers-video-group{
    width:100%;
    max-width: 378px;
    min-width: 300px;
    margin:0 8px 24px;
}
.careers-video-player{
    height: 200px;
    border-radius: 8px;
    margin-bottom: 24px;
    background: #292b32;
    overflow: hidden;
}
.careers-video-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.careers-video-button{
    position: absolute;
    top:50%;
    left:50%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor:pointer;
    z-index:11;
    background-color: #008fb4;
    background-image:url("https://via.placeholder.com/24x24");
    background-repeat: no-repeat;
    background-position: 50%;
    transform-origin: center;
    transform:translate3d(-50%,-50%,0);
    box-shadow: 0 6px 12px 0 rgb(0,0,0,.35);
    transition: all .125s ease-out;

}
.careers-video-button:hover{
    transform:scale(1.1) translate3d(-50%,-50%,0);
    box-shadow: 0 6px 22px 0 rgb(0,0,0,.35);

}
.careers-video-group .none{
    display: none;
}
.careers-video-container iframe{
    border:none;
    width:100%;
    height:100%;
}
.careers-video-caption{
    display: block;
}
.careers-video-caption h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: .15px;
    color: #292b32;
    margin-bottom: 8px;
}
.careers-video-caption h5{
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    letter-spacing:.15px;
    color: #292b32;
    margin:0;
    padding:0;
}
.careers-page .text-center{
    text-align: center;
}
