
.mouse{
    margin: 50px auto!important;
    width: 30px!important;
    left: 0!important;
    right: 0!important;
    bottom: -39px!important;
    top: unset!important;
    z-index: 999;
}.mouse-icon{
     width: 25px;
     height: 45px;
     border: 2px solid #252525;
     border-radius: 15px;
     cursor: pointer;
     position: relative;
     text-align: center;
 }.mouse-wheel{
      height: 6px;
      margin: 2px auto 0;
      display: block;
      width: 3px;
      background-color: #252525;
      border-radius: 50%;
      -webkit-animation: 1.6s ease infinite wheel-up-down;
      -moz-animation: 1.6s ease infinite wheel-up-down;
      animation: 1.6s ease infinite wheel-up-down;
  }
@media screen and (max-width: 780px) {
    .mouse {
        display: none;
    }
}
@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}@-moz-keyframes wheel-up-down {
     0% {
         margin-top: 2px;
         opacity: 0;
     }
     30% {
         opacity: 1;
     }
     100% {
         margin-top: 20px;
         opacity: 0;
     }
 }@keyframes wheel-up-down {
      0% {
          margin-top: 2px;
          opacity: 0;
      }
      30% {
          opacity: 1;
      }
      100% {
          margin-top: 20px;
          opacity: 0;
      }
  }
