.recommendations{

    padding: 0 32px;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 60px 0px 0px;
    flex-direction: column;
    margin-left:7.5%;
    z-index:2000;
    /* overflow: hidden; */
    /* background-color: rgb(246,248,253, 0.5); */
}

.recommendations-wrapper{

    width: 100%;
    background-color: rgb(246,248,253, 0.6);
}

.recommendations__header{
    width: 100%;
    display: flex;
}

.recommendations__header p{

    font-family: 'Poppins', Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
    font-weight: 300;
    color: #545a77;
    font-size: 23px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: initial;
    vertical-align: initial;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 0px 0px 12px;
    padding: 0px;
}

.recommendations__Lists{
    width: 100%;
    display: flex;
    height:auto;
    max-width: 1180px;
    overflow-x: visible;
    justify-content: flex-start;
    
}

.animation-scroll{
    animation: slide 100s linear infinite;
}

.TaskContainer__ovenCover{
    height: 200px;
    width: 292px;
    overflow: none;
}

@media (max-width: 440px){
    .recommendations-wrapper{
        /* animation-name: none !important; */
    }
    .recommendations__Lists{
        transform: scale(0.9);
        margin-left: -6%;
        margin-top:-5%;
    }
    .recommendations{
        padding:30px;
        padding-left:0;
    }
}

@media (max-width: 800px){

    .recommendations{
        width: 97%;
    }
}

@media (min-width: 1300px){

    .recommendations{
        margin-left:11.5%;
    }
}

@media (min-width: 1399px){

    .recommendations{
        margin-left:14%;
    }
}

@media (min-width: 1500px){

    .recommendations{
        margin-left:17%;
    }
}

@media (min-width: 1599px){

    .recommendations{
        margin-left:18%;
    }
}

@media (min-width: 1699px){

    .recommendations{
        margin-left:20%;
    }
}

@media (min-width: 1800px){

    .recommendations{
        margin-left:22%;
    }
}

@media (min-width: 1900px){
    .recommendations{
        margin-left:25%;
    }
}

