.NOTICE{
    background-color: black;
    height: 100vh;
    width: 100%;
    padding: 50vh 0;
    text-align: center;
}

.NOTICE p{
    font-size: 30px;
    color:white;
}
.NOTICE a{
    font-size: 30px;
    color:red;
}

@media screen and (max-width: 780px) {
    .NOTICE p{
        font-size: 15px;
        color:white;
    }
    .NOTICE a{
        font-size: 15px;
        color:red;
    }
}
